
            body {
                font-family: Arial, sans-serif;
                background-color: #F5F5F5;
            }
            h1, h3 {
                color: #FF4500;
                text-align: center;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            li {
                width: 30%;
                margin: 20px;
                padding: 20px;
                background-color: #FFF;
                border-radius: 5px;
                box-shadow: 0px 0px 5px 0px #999;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
            p {
                font-size: 18px;
                color: #333;
                margin: 10px 0 0;
            }
            a {
                color: #FF4500;
                text-decoration: none;
            }
            .food-price {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;
            }
            .food-price span {
                font-size: 24px;
                font-weight: bold;
            }

            .food-price span:before {
                content: "Price";
                color: #FF4500;
            }

            .order-button button {
                color: #FFFFFF;
                border: none;
                border-radius: 5px;
                padding: 10px 20px;
                font-size: 18px;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                text-transform: uppercase;
            }

            .order-button button:hover {
                background-color: #FFFFFF;
                color: #FF4500;
                border: 2px solid #FF4500;
            }

            .order-button {
                margin-top: 10px;
                text-align: right;
            }
 
        